version: "3.8"
services:
  gateway:
    container_name: gateway
    build: Gateway
    ports: 
      - "5000:80"
      - "5001:443"
  bank_system:
    container_name: BankAPI
    build: Bank
    ports:
      - "8080:80"
  bank_db_mssql:
    container_name: BankDB
    build: Bank/BankDb
    ports:
      - "1433:1433" 
    environment: 
        - ACCEPT_EULA=Y  
        - SA_PASSWORD=Password1!  
        - MSSQL_PID=Express
  interest_rate_func:
    container_name: InterestRateAzureFunction
    build: Functions/Interest_rate_function
    ports: 
      - "8082:80"
  loan_algorythm_func:
    container_name: LoanAlgorythmAzureFunction
    build: Functions/Loan_Algorythm_Function
    ports: 
      - "8083:80"
  borger_api:
    container_name: BorgerAPI
    build: Borger/src 
    ports:
      - "8084:5004"
  skat_tax_calculator:
    container_name: SkatTaxCalculator
    build: Functions/Skat_Tax_Calculator
    ports:
      - "8085:80"  
  skat_system:
    container_name: SkatService
    build: 
      context: ./skat_service
      dockerfile: Dockerfile
    ports:
      - "8086:80"
    volumes:
      - './skat_service:/app'
